@model IEnumerable<StoreWebUI.Models.LineItemVM>

@{
    ViewData["Title"] = "Cart";
}

<h1>Checkout</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>
                    @item.product.Name
                </td>
                <td>
                    @item.product.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @(item.product.Price * item.Quantity)
                </td>
            </tr>
        }
        <tr><td colspan="4"><p><h3 class="text-left">Grand Total</h3><span class="text-right">@ViewBag.Total</span></p></td></tr>
    </tbody>
</table>
<div><a href='@Url.Action("Checkout", new { checkout = true })' class="btn btn-primary pull-right">Checkout</a></div>