@model IEnumerable<StoreWebUI.Models.ProductVM>

@{
    ViewData["Title"] = "Products";
}

<h1>ViewAllProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { barcode = item.Barcode }, new { @class = "btn btn-pink" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Barcode }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
