@model IEnumerable<StoreWebUI.Models.InventoryVM>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Store
            </th>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreFront.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>$@Html.DisplayFor(modelItem => item.Product.Price).00</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Inventory", new {  Id=item.Id }, new { @class = "btn btn-pink" })
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-storeid ="@item.StoreId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
